<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>controlador.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPago</servlet-name>
        <servlet-class>controlador.ControladorPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleados</servlet-name>
        <servlet-class>controlador.ControladorEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorFactura</servlet-name>
        <servlet-class>controlador.ControladorFactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCreditos</servlet-name>
        <servlet-class>controlador.ControladorCreditos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>controlador.ControladorProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/ControladorCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPago</servlet-name>
        <url-pattern>/ControladorPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleados</servlet-name>
        <url-pattern>/ControladorEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorFactura</servlet-name>
        <url-pattern>/ControladorFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCreditos</servlet-name>
        <url-pattern>/ControladorCreditos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/ControladorProducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
